@import "tailwindcss";

:root {
  /* Light Mode */
  --void-val: #f8f3eb;          /* fondo hueso */
  --surface-val: #efe7dc;       /* cards hueso */

  /* tonos café */
  --primary-val: #8b5e3c;       
  --primary-dark-val: #6f4527;

  --secondary-val: #b08968;
  --secondary-dark-val: #8d6748;

  /* texto café */
  --body-val: #3e2c1c;
  --muted-val: #7a6450;
}

:root.dark {
  /* Dark elegante */
  --void-val: #15120f;
  --surface-val: #211c18;

  /* cafés cálidos */
  --primary-val: #d2b48c;
  --primary-dark-val: #b08968;

  --secondary-val: #e6ccb2;
  --secondary-dark-val: #c69c72;

  /* texto clarito */
  --body-val: #f5ede3;
  --muted-val: #c7b8a3;
}

@theme {
  --color-void: var(--void-val);
  --color-surface: var(--surface-val);

  --color-primary: var(--primary-val);
  --color-primary-dark: var(--primary-dark-val);

  --color-secondary: var(--secondary-val);
  --color-secondary-dark: var(--secondary-dark-val);

  --color-body: var(--body-val);
  --color-muted: var(--muted-val);

  --font-sans: 'Inter', 'Roboto', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html,
  body {
    @apply bg-void text-body font-sans antialiased;
  }

  h1, h2, h3 {
    word-spacing: 0.15em;
  }
}