---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
import LabSection from "../components/LabSection.astro";
import TechSection from "../components/TechSection.astro";
import ExitSection from "../components/ExitSection.astro";
import ContaminantsSection from "../components/ContaminantsSection.astro";
import MapSection from "../components/MapSection.astro";
import RecommendationsSection from "../components/RecommendationsSection.astro";
import MissionSection from "../components/MissionSection.astro";
import Join from "../components/joinsection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="VibeSticker - Aire Puro">
	<main>
		<Hero />
		<InfoSection />
		<LabSection />
		<TechSection /> 
		<ExitSection /> 
		<ContaminantsSection />
		<MapSection />
		<RecommendationsSection />
		<MissionSection />
		<Join/>
	</main>
	<Footer />
</Layout>