---

---

<section
    id="hero"
    class="relative w-full h-screen flex flex-col items-center justify-center overflow-hidden"
>

    <!--Sticker PNG (reemplaza el 3D) -->
    <div id="sticker-container" class="fixed inset-0 pointer-events-none z-0">
         <img 
            id="sticker"
            src="/assets/images/VibeSticker_LogoSL.png"
            alt="sticker"
            class="absolute top-1/2 left-1/2 
                w-[65vw] max-w-[600px]
                -translate-x-1/2 -translate-y-1/2
                drop-shadow-[0_0_80px_rgba(34,211,238,0.45)]
                mix-blend-lighten"
        />
    </div>


    <!-- Hero Content -->
    <div
        class="absolute top-[15vh] w-full z-10 flex flex-col items-center text-center px-4 pointer-events-auto"
    >
        <div
            id="hero-badge"
            class="mb-6 px-4 py-1 rounded-full border border-white/10 bg-white/5 backdrop-blur-sm"
        >
            <span
                class="text-sm font-medium tracking-tight text-white/80 uppercase"
            >
                Stickers de Alta Tecnología
            </span>
        </div>

        <h1
            id="hero-title"
            class="text-4xl md:text-6xl font-black tracking-tight mb-8 uppercase max-w-4xl"
        >
            <span
                class="bg-clip-text text-transparent bg-gradient-to-br from-white via-slate-100 to-slate-400 block leading-tight"
            >
                Pega,
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary">
                    respira y disfruta
                </span>
            </span>
        </h1>

        <a
            id="hero-cta"
            href="#technology"
            class="px-12 py-4 bg-white/10 backdrop-blur-md border border-white/10 hover:border-primary rounded-full transition-colors duration-300"
        >
            <span class="text-white font-light tracking-tight uppercase">
                Ver Colección
            </span>
        </a>
    </div>
</section>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { initSticker } from "../scripts/sticker";

    gsap.registerPlugin(ScrollTrigger);

    //STICKER ANIMATION (PNG)
    initSticker();

    //HERO TEXT ANIMATION
    const tl = gsap.timeline({
        defaults: { ease: "power3.out" },
    });

    tl.from(
        "#hero-badge",
        {
            y: -20,
            opacity: 0,
            duration: 1,
        },
        0.5,
    );

    tl.from(
        "#hero-title span",
        {
            y: 50,
            opacity: 0,
            duration: 1.5,
            stagger: 0.1,
        },
        0.8,
    );

    tl.from(
        "#hero-cta",
        {
            y: 20,
            opacity: 0,
            duration: 1,
        },
        "-=0.8",
    );
</script>